body{
    margin: 0;

}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 280px;
    grid-template-rows: auto;
    grid-gap: 30px;
    background-color:#222;
    color: #fff;
    max-width: 1600px;
    margin: 0 auto;
}
#titre{
    grid-column: span 4;
    text-align: center;
}
#banniere{
    grid-column: span 2;
    background:url("image/communaute.jpg") #000 no-repeat center center;
}
#detail{
    grid-row: span 3;
}
img{
    width:100%;
}